.u-envios {
  display: flex;
  justify-content: center;
  background-color: #191716;
  color: #fff;
  padding: 2px;
  font-family: montserrat3;
}

nav {
  font-family: montserrat;
}

.scroll-up-btn {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 3.125rem;
  font-size: 1.25rem;
  display: inline-block;
  z-index: 1000;
}

.scroll-up-btn:hover {
  background-color: #555;
}

@font-face {
  font-family: montserrat;
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: montserrat2;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: montserrat3;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.winter {
  background-color: #191716;
  width: 100%;
}

.winterArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 3.125rem;
  color: #fff;
  font-family: montserrat;
}

.mi-carousel {
  max-width: 18.75rem;
  max-height: 21.875rem;
}

.mi-carousel img {
  object-fit: cover;
  height: 100%;
}

.u-destacado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgdestacado {
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.pimg {
  padding: 1.25rem;
  text-align: center;
  font-family: montserrat;
}

.destacadoh2 {
  font-family: montserrat;
  text-align: center;
  padding-top: 1.875rem;
}

.button {
  background-color: #191716;
  border-radius: 0.3125rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: montserrat;
}
.button:hover {
  background-color: #fff;
  transform: scale(1.01);
  color: #191716;
}

@media (max-width: 768px) {
  .u-destacado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .u-destacado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191716;
  padding: 1.875rem;
  color: #fff;
  text-align: center;
  font-family: montserrat3;
}

a.sin-decoracion {
  text-decoration: none;
  color: #fff;
}
a.sin-decoracion:hover {
  transform: scale(1.01);
  color: #F7E8A4;
}

@font-face {
  font-family: montserrat;
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: montserrat2;
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: montserrat3;
  src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 400;
}
.catalogo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  font-family: montserrat2;
}

.remeras {
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.remeras:hover {
  background-color: #dbd4d3;
  transform: scale(1.01);
  color: #191716;
}

.buzos {
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buzos:hover {
  background-color: #dbd4d3;
  transform: scale(1.01);
  color: #191716;
}

.short {
  background-color: #000;
  color: #fff;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.short:hover {
  background-color: #dbd4d3;
  transform: scale(1.01);
  color: #191716;
}

.titleaside h2 {
  text-align: center;
  padding: 1.875rem;
  font-family: montserrat;
}

@media (max-width: 768px) {
  .catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .remeras {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
  .buzos {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
  .short {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
}
@media (max-width: 1024px) {
  .catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .remeras {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
  .buzos {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
  .short {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
