@import "_mixins";
.logo{
    @include uflex(flex, center, center);
}
.winter{
    background-color: $second-color;
}
.winterArticle{
    @include uflex(flex, center, center);
    padding-top: 1.25rem;
    padding-bottom: 3.125rem;
    color: #fff;
    font-family: crafity;
}
.mi-carousel {
    max-width: 18.75rem;
    max-height: 21.875rem;
}
.mi-carousel img {
    object-fit: cover;
    height: 100%;
}
.u-destacado {
    @include ucard(flex, row, center, center);
}
.imgdestacado{
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}
.pimg{
    padding: 1.25rem;
    text-align: center;
}
.destacadoh2{
    font-family: crafity;
    text-align: center;
    padding-top: 1.875rem;
}
.button{
    background-color: $second-color;
    border-radius: .3125rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #fff;
        transform: scale(1.01);
        color: $second-color;
    }
}
@media (max-width: $mobile) {

    .u-destacado {
        @include ucard(flex, column, center, center);
    }
}
