@mixin uflex ($display, $justify-content, $align-items){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}
@mixin ucard($display, $flex-direction, $justify-content, $align-items) {
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
$mobile: 768px;
$tablet: 1024px;


@font-face {
    font-family: montserrat;
    src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype"); font-weight: 400;
}
@font-face {
    font-family: montserrat2;
    src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype"); font-weight: 400;
}
@font-face {
    font-family: montserrat3;
    src: url("../assets/fonts/Montserrat-Light.ttf") format("truetype"); font-weight: 400;
}