@import "_variables";
@import "_header";
@import "_main";
@import "_footer";
@import "_mixins";
@import "_aside";

$theme: dark;

body{
    @if $theme == dark{
        background-color: #fff;
    }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
