@import "_variables";
@import "_header";
@import "_main";
@import "_footer";
@import "_mixins";
@import "_aside";

$theme: light;

body {
  @if $theme == light {
    background-color: #ffffff;
  } @else if $theme == dark {
    background-color: #ffffff;
  } @else {
    background-color: #ffffff;
  }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
